#awa-hello {
    padding-top: 20px;

    .awa-container {
        position: relative;
    }

    @include customMax(1023px) {
        padding-top: 0;
    }

    .awa-hamburger-icon {
        margin-bottom: 20px;
        @include customMax(1023px) {
            display: none;
        }
    }

    @include breakpoint(mobile) {
        .awa-section-body {
            padding-top: 0;
        }
    }
}

.awa-hello-grid {
    @include breakpoint(mobile) {
        @include flex-wrap(wrap);
        > [class*="fxg-1-"] {
            width: 100%;
        }
    }
}

.awa-hello-inner {
    background: $green;
    padding: 50px 40px;

    position: relative;

    -webkit-box-shadow: 10px 10px 0 0 $cream;
    box-shadow: 10px 10px 0 0 $cream;

    &:after {
        @extend %section-top-line;
    }
}

.awa-hello-top-bird {
    position: absolute;
    width: 100%;
    max-width: 70px;
    top: 25px;
    left: 25px;

    @include breakpoint(mobile) {
        display: none;
    }
}

.awa-section-header {
    text-align: center;
}

.awa-section-title {
    @extend %section-title;
}

.awa-section-sub-title {
    @extend %section-sub-title;
    color: $yellow;
}

.awa-hello-left {
    padding-right: 20px;
    padding-left: 10px;

    @include breakpoint(mobile) {
        height: 100px;
        width: 100px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        margin: auto;
        padding: 0;
        border: 3px solid rgba(0, 0, 0, 0.1);
    }

    > img {
        @include customMin(768px) {
            box-shadow: -10px -10px 0 0 rgba(0, 0, 0, 0.1);
        }

        @include breakpoint(mobile) {
            max-width: 100px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

.awa-hello-right {
    padding-left: 20px;
    padding-right: 80px;

    @include breakpoint(mobile) {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
}

.awa-hello-social {
    @include center(vertical);
    right: 0;
    @include breakpoint(mobile) {
        position: relative;
        @include transform(none);
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            display: block;
            padding: 10px 0;
            @include breakpoint(mobile) {
                display: inline-block;
                padding: 20px 0 0;
            }
            a {
                @include size(60px);
                display: block;
                background-image: url(../images/awa-social-bird.svg);
                background-size: 95% 100%;
                background-position: center center;
                background-repeat: no-repeat;
                position: relative;
                opacity: 0.75;
                @include transition(opacity 0.15s linear);

                &:hover {
                    opacity: 1;
                }

                svg {
                    fill: white;
                    width: 22px;
                    @include center(both);
                    margin-top: 3px;
                    margin-left: 2px;
                }
            }
        }
    }
}

.awa-hello-me-title {
    @include font-museo;
    font-weight: 500;
    font-size: 1.5rem;
    color: white;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
    line-height: 1.3;
}

.awa-hello-me-master,
.awa-hello-me-text {
    @include font-poppins-300;
    font-weight: 300;
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
    color: $yellow;
    font-size: 1.1rem;
    line-height: 1.1;
}

.awa-hello-me-text {
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0;
    color: white;

    a {
        color: $yellow;
        text-decoration: none;
        border-bottom: 2px dotted $yellow;

        &:focus,
        &:active,
        &:hover {
            outline: none;
            border-bottom-style: solid;
        }
    }
}
