.awa-header {
    @include customMax(1023px) {
        display: none;
    }
}

.awa-header-mobile {
    display: none;
    @include customMax(1023px) {
        display: block;
    }
}

// DESKTOP HEADER
.awa-header-grid {
}

.awa-header-left-grid {
    background: $greyishWhite;
}

.awa-header-right-grid {
    background: $yellow;
    position: relative;
    z-index: 1;
}

.awa-header-left {
    position: relative;
    z-index: 1;
    overflow: hidden;

    &:before {
        content: "";
        position: absolute;
        @include size(100%);
        top: 0;
        left: 0;
        background-image: url(../images/awa-earphone.svg);
        background-repeat: no-repeat;
        background-position: bottom right;
        background-size: 650px;
        z-index: -1;
        @include transform(rotate(10deg) translate(270px, -100px));
        opacity: 0.15;

        @include customMax(1199px) {
            background-size: 550px;
            @include transform(rotate(10deg) translate(250px, -50px));
        }
    }
}

.awa-header-left-top {
    position: relative;
}

.awa-header-logo {
    max-width: 300px;
    padding: 30px 20px;
    > a {
        display: block;
        line-height: 0;
        font-size: 0;
    }
}

.awa-scale {
    position: absolute;
    top: -170px;
    left: 56%;
    width: 300px;

    @include customMax(1199px) {
        width: 250px;
        top: -150px;
    }
}

.awa-header-anchor-point {
    max-width: 50%;
    @include customMax(1199px) {
        max-width: 40%;
    }
}

.awa-header-left-bottom {
    margin-top: -100px;
    padding-bottom: 20px;

    @include customMax(1199px) {
        margin-top: -10px;
    }
}

.awa-header-images {
    max-width: 200px;
    position: relative;
    left: -30px;

    @include customMax(1199px) {
        max-width: 150px;
    }
}

// HEADER RIGHT
.awa-header-right {
    position: relative;
    height: 100%;
}

.awa-header-right-v-logo,
.awa-header-right-v-logo-tag {
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: 1px;
    @include transform-origin(0 0);
}

.awa-header-right-v-logo {
    width: 70%;
    @include transform(rotate(-90deg) translate(-50%, -100%));
}

.awa-header-right-v-logo-tag {
    width: 50%;
}

.awa-header-right-v-logo-tag {
    @include transform(rotate(-90deg) translate(-50%, 20px));
}

.awa-header-right-v-logo-tag-shadow {
    opacity: 0.12;
    margin-top: -12px;
    margin-left: 12px;
}

.awa-header-right-coffee-area,
.awa-header-right-book-area {
    height: 50%;
    padding: 20px;
}

.awa-header-right-coffee {
    width: 100%;
    max-width: 250px;

    @include customMax(1199px) {
        max-width: 170px;
    }
}

.awa-header-right-book {
    width: 100%;
    max-width: 360px;
    margin-bottom: -60px;

    @include customMax(1199px) {
        max-width: 250px;
    }
}

// MOBILE HEADER
.awa-header-mobile {
    background: $red;
    padding: 20% 20px;
    position: relative;
}

.awa-header-mobile-logo {
    width: 100%;
    max-width: 450px;
    margin: auto;

    > .awa-header-mobile-anchor-wrap {
        display: block;
        line-height: 0;
        position: relative;

        > .awa-header-mobile-web-art-ws {
            position: relative;
            margin-top: 10px;

            img {
                width: 75%;
                margin: auto;

                &:nth-child(2) {
                    top: 12px;
                    margin-left: 12px;
                    @include center(horizontal);
                    opacity: 0.12;
                }
            }
        }
    }
}

// MENU
.awa-hamburger-mobile {
    text-align: center;
    > ul {
        font-size: 0;
        list-style: none;
        padding: 0;
        margin: 0;
        li {
            display: inline-block;
        }
        .awa-nav-item {
            display: inline-block;
            font-size: 1rem;
            padding: 0 10px;

            opacity: 0;
            a {
                color: white;
                text-decoration: none;
            }
        }
    }
}

.awa-hamburger-icon {
    @include size(50px);
    margin: 0 auto 0;

    .awa-hamburger-icon-wrap {
        > a.awa-toggler {
            display: block;
            line-height: 0;

            svg {
                overflow: visible;
            }
        }
    }

    &.white {
        .awa-hamburger-icon-wrap {
            [class^="awa-hb-path-"] {
                fill: white;
            }
        }
    }

    &.red {
        .awa-hamburger-icon-wrap {
            [class^="awa-hb-path-"] {
                fill: $red;
            }
        }
    }
}

.awa-hamburger-mobile {
    .awa-hamburger-icon {
        margin-top: 30px;
    }
}

@import "nav";
