@include font-face("Museo-500", "../fonts/Museo/Museo-500", 500, "normal");
@include font-face("Poppins-Regular", "../fonts/Poppins/Poppins-Regular", "normal", "normal");
@include font-face("Poppins-Light", "../fonts/Poppins/Poppins-Light", 300, "normal");
@include font-face("Poppins-Medium", "../fonts/Poppins/Poppins-Medium", 500, "normal");
@include font-face("Poppins-SemiBold", "../fonts/Poppins/Poppins-SemiBold", 600, "normal");

@mixin font-museo {
	font-family: "Museo-500";
}

@mixin font-poppins-regular {
	font-family: "Poppins-Regular";
}

@mixin font-poppins-300 {
	font-family: "Poppins-Light";
}

@mixin font-poppins-500 {
	font-family: "Poppins-Medium";
}

@mixin font-poppins-600 {
	font-family: "Poppins-SemiBold";
}

html {
	@include font-poppins-regular;
	font-size: 16px;
	@include breakpoint(large) {
		font-size: 18px;
	}
	@include breakpoint(mobile) {
		font-size: 14px;
	}
}

img {
	max-width: 100%;
	display: block;
	height: auto;
}