// Bourbon settings
$output-bourbon-deprecation-warnings: false;

// Grid Settings
$gutter: 20px;

// Color Settings
// HEADER COLORS
$yellow: rgb(252, 208, 66);
$greyishWhite: #f0f0f0;
$pink: #dc3792;
$darkBlue: #1f212b;
$red: #e75c43;
$red: rgb(239, 94, 101);
$green: #46b2a2;
$cream: #feedb7;
$blue: #5093cf;
$limeGreen: #acd157;
$blueText: #3c3f4b;
$skyBlue: #d0e7e1;
