.awa-br {
    @include customMin(992px) {
        display: block;
    }
}

#awa-doing {
    padding: 0;

    .awa-section-header {
        padding: 130px 0;

        @include customMax(1023px) {
            padding: 50px 0;
        }

        &:before {
            @extend %section-top-line;
            height: 100%;
            top: auto;
            bottom: auto;
            background: $darkBlue;
            margin-top: -10px;
            @include transform(translateY(-100%));
        }

        .awa-section-sub-title {
            font-size: 1.8rem;
            letter-spacing: 10px;
            color: lighten($darkBlue, 10%);
            line-height: 1;
            margin-top: 20px;
            margin-bottom: 0;
        }
    }
}

.awa-doing-left,
.awa-doing-right {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.awa-gun-shot {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: $limeGreen;
    z-index: 10;

    .awa-gun-shot-circle-1 {
        @include size(180px);
        position: absolute;
        bottom: -10px;
        left: -10px;
        border-radius: 50%;
        background: #b4d760;
    }

    .awa-gun-shot-circle-2 {
        @include size(71%);
        @include center(both);
        border-radius: 50%;
        background: #add256;
    }

    .awa-gun-shot-circle-3 {
        @include size(57%);
        @include center(both);
        border-radius: 50%;
        background: #9ac13a;
    }

    .awa-gun-shot-circle-middle {
        @include center(both);
        @include size(10px);
        border-radius: 50%;
        background: #b8d475;
    }

    .awa-gun-shot-hl {
        position: absolute;
        top: 50%;
        left: 0;
        margin-top: -1px;
        height: 1px;
        width: 100%;
    }

    .awa-gun-shot-vl {
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -1px;
        height: 100%;
        width: 1px;
    }

    .awa-gun-shot-vl,
    .awa-gun-shot-hl {
        background: rgba(white, .5);
    }
}

.awa-doing-left-content {
    position: relative;
    z-index: 10;
    height: 100%;
}

// RIGHT SIDE
.awa-doing-right {
    height: 100%;
}

.awa-doing-right-top,
.awa-doing-right-bottom {
    padding: 30px;
    position: relative;
}

.awa-doing-right-top {
    background: #e1e9e2;
}

.awa-doing-right-bottom {
    background: white;
    padding: 40px 30px;

    @include breakpoint(mobile) {
        text-align: center;
    }
}

// SLICK SLIDER
.awa-skill-slide {
    padding: 40px 20px 20px;
    .awa-skill-slide-icon {
        padding: 0;
        margin: 0;
        display: block;
        img {
            margin: auto;
            width: 100%;
            max-width: 80px;
            max-height: 80px;
            @include transform(scale(1, 1));
            @include transition(all .3s linear);
        }
    }

    .awa-skill-slide-name {
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 35px;
        @include font-museo;
        color: #3e414d;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 1.1rem;

        opacity: 0;
        @include transform(translateY(15px));
        @include transition(all .2s linear);
    }

    &.slick-slide.slick-center {
        .awa-skill-slide-icon {
            img {
                @include transform(scale(1.3, 1.3));
            }
        }

        .awa-skill-slide-name {
            opacity: 1;
            @include transform(translateY(0));
        }
    }
}

.awa-skills-text-slider {
    .awa-skill-text-slide {
        // padding: 10px 0 10px;
        color: #3e414d;
        .awa-skill-text-title {
            @include font-museo;
            font-weight: 500;
            font-size: 1.1rem;
            padding: 0;
            margin: 0 0 20px;
            text-transform: uppercase;
        }

        .awa-skill-text-content {
            font-family: "Poppins-Light";
            font-weight: 300;
            font-size: 1rem;
            line-height: 1.5;

            p {
                padding: 0;
                margin: 0;
            }
        }
    }
}

.awa-skill-arrow {
    position: absolute;
    top: 50%;
    width: 20px;
    height: 32px;
    margin-top: -16px;
    z-index: 1;

    &#awa-skill-prev {
        left: 30px;
    }

    &#awa-skill-next {
        right: 30px;
    }

    > svg {
        @include size(100%);
        fill: $blueText;
    }
}

@include customMax(1023px) {
    .awa-doing-grid .fxg-pad {
        @include flex-wrap(wrap);
        > [class*="fxg-1-"] {
            width: 100%;
        }
    }
}