#awa-folio {
    padding: 0;
    margin-bottom: -1px;
}

.awa-folio-grid {
    .awa-folio-item-wrap {
        width: 33.3333%;

        @include breakpoint(mobile) {
            width: 50%;
            height: 180px;
            min-height: 280px;

            .jcc {
                // @include justify-content(flex-start);
            }
        }

        @include customMax(500px) {
            width: 100%;
        }

        .awa-folio-item {
            position: relative;
            padding-top: 90%;

            @include breakpoint(mobile) {
                padding-top: 0;
                height: 100%;
            }

            &.awa-folio-item-big {
                padding-top: 120%;

                @include breakpoint(mobile) {
                    padding-top: 0;
                }
            }
        }
    }

    .awa-folio-image-wrap {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;

        @include breakpoint(mobile) {
            position: relative;

            &.fxg-flexy {
                // display: block;
            }
        }
    }

    .awa-folio-image {
        margin: 0;
        padding: 20px;
        display: block;
        img {
            margin: auto;
            width: 100%;
            max-width: 350px;

            @include breakpoint(mobile) {
                // margin: 0;
                max-width: 170px;
            }
        }
    }

    .awa-overlay-category {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        @include display(flex);
        @include flex-direction(column);
        @include justify-content(center);

        > span {
            width: 100%;
            height: auto;
            text-align: center;

            &:nth-child(odd) > span:before {
                @include transform(skewX(0));
            }
            &:nth-child(even) > span:before {
                @include transform(skewX(0));
            }

            > span {
                width: 170px;
                margin: 0 auto 2px;
                padding: 15px 0;

                @include customMax(1023px) {
                    padding: 10px 0;
                }

                display: block;
                position: relative;
                z-index: 10;
                &:before {
                    content: "";
                    position: absolute;
                    @include size(100%);
                    top: 0;
                    left: 0;
                    z-index: -1;

                    @include transition(transform 0.2s linear);
                }
            }
        }
    }

    .awa-overlay-category {
        opacity: 0;
        @include transition(opacity 0.2s linear);
        @include transition-delay(0.2s);
    }

    .overlay-link {
        z-index: 100;
        &:hover {
            + .awa-overlay-category {
                opacity: 1;
                @include transition(opacity 0.2s linear);
                > span {
                    &:nth-child(odd) > span:before {
                        @include transition-delay(0.2s);
                        @include transform(skewX(-10deg));
                    }
                    &:nth-child(even) > span:before {
                        @include transition-delay(0.2s);
                        @include transform(skewX(10deg));
                    }
                }
            }
        }
    }

    .awa-folio-yellow {
        background: $yellow;
        .awa-overlay-category {
            background: $yellow;
            > span > span {
                color: $yellow;
                &:before {
                    background: white;
                }
            }
        }
    }
    .awa-folio-skyblue {
        background: $skyBlue;
        .awa-overlay-category {
            background: $skyBlue;
            > span > span {
                color: white;
                &:before {
                    background: $blue;
                }
            }
        }
    }
    .awa-folio-grey {
        background: $greyishWhite;
        .awa-overlay-category {
            background: $greyishWhite;
            > span > span {
                color: white;
                &:before {
                    background: #555;
                }
            }
        }
    }
    .awa-folio-red {
        background: $red;
        .awa-overlay-category {
            background: $red;
            > span > span {
                color: $red;
                &:before {
                    background: white;
                }
            }
        }
    }

    @include breakpoint(mobile) {
        .awa-folio-sm-yellow {
            background: $yellow;
            .awa-overlay-category {
                background: $yellow;
                > span > span {
                    color: $yellow;
                    &:before {
                        background: white;
                    }
                }
            }
        }
        .awa-folio-sm-skyblue {
            background: $skyBlue;
            .awa-overlay-category {
                background: $skyBlue;
                > span > span {
                    color: $skyBlue;
                    &:before {
                        background: white;
                    }
                }
            }
        }
        .awa-folio-sm-grey {
            background: $greyishWhite;
            .awa-overlay-category {
                background: $greyishWhite;
                > span > span {
                    color: $red;
                    &:before {
                        background: #555;
                    }
                }
            }
        }
        .awa-folio-sm-red {
            background: $red;
            .awa-overlay-category {
                background: $red;
                > span > span {
                    color: $red;
                    &:before {
                        background: white;
                    }
                }
            }
        }
    }

    @include customMax(500px) {
        .awa-folio-xsm-yellow {
            background: $yellow;
        }
        .awa-folio-xsm-skyblue {
            background: $skyBlue;
        }
        .awa-folio-xsm-grey {
            background: $greyishWhite;
        }
        .awa-folio-xsm-red {
            background: $red;
        }
    }

    @include breakpoint(mobile) {
        .awa-folio-item-wrap {
            .awa-folio-item {
                // background: $greyishWhite;
            }
            &:nth-child(3n + 1) {
                .awa-folio-item {
                    // background: $yellow;
                }
            }
        }
    }
}
