#awa-work {
    background-image: url(../images/awa-work-cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;

    padding: 50px 0;
    position: relative;

    @include customMax(1023px) {
        padding: 0;

        .awa-section-header {
            padding: 50px 0;
        }

        .awa-container {
            position: relative;
            z-index: 100;
        }

        &:before {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            background: rgba($cream, .4);
            top: 0;
            left: 0;
            z-index: 10;
        }

        .awa-section-sub-title {
            margin-bottom: 0;
            color: $blueText;
        }
    }

    .awa-section-header {
        &:after {
            @extend %section-top-line;

            @include customMax(1023px) {
                background: $blueText;
            }
        }

        .awa-section-title {
            background: darken(#efefef, 5%);

            @include customMax(1023px) {
                color: white;
                background: $blueText;
            }
        }
    }
}